.account_title {
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px auto 0px;
  max-width: 90%;
  text-align: center;
  background-color: var(--background-color);
  font-family: var(--font-style);
  font-size: 24px;
}

.account button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--circlek-color);
  font-family: var(--font-style);
  font-size: 16px;
}

.account button:hover {
  cursor: pointer;
  font-weight: bold;
}

.account_upper {
  display: flex;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px auto 0px;
  max-width: 90%;
  text-align: center;
  background-color: var(--background-color);
  font-family: var(--font-style);
}

.account_bigLittle {
  flex: 0.5;
  padding: 20px;
}

.account_bigLittle > h2 {
  font-family: var(--font-family);
  font-size: 22px;
}

.account_bigLittle > p {
  font-family: var(--font-family);
  font-size: 18px;
}

.account_families {
  flex: 0.5;
  padding: 20px;
}

.account_families > h2 {
  font-family: var(--font-family);
  font-size: 22px;
}

.account_families > p {
  font-family: var(--font-family);
  font-size: 18px;
}

.account_presentFamilies {
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px auto 0px;
  max-width: 90%;
  background-color: var(--background-color);
}

.account_presentFamilies > h2 {
  text-align: center;
  font-family: var(--font-style);
  font-size: 22px;
}

.account_mid {
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px auto;
  max-width: 90%;
  text-align: center;
  background-color: var(--background-color)
}

.account_mid > h2 {
  text-align: center;
  font-family: var(--font-style);
  font-size: 22px;
}

.account_midStart {
  display: flex;
}

.account_midService {
  flex: 0.5;
  padding: 20px 10rem;
  text-align: center;
}

.account_midService > h2 {
  font-family: var(--font-style);
  font-size: 20px;
}

.account_midService > p {
  font-family: var(--font-style);
  font-size: 16px;
}

.account_midGBM {
  flex: 0.5;
  padding: 20px 10rem;
  text-align: center;
}

.account_midGBM > h2 {
  font-family: var(--font-style);
  font-size: 20px;
}

.account_midGBM > p {
  font-family: var(--font-style);
  font-size: 16px;
}

.account_ready > h2 {
  text-align: center;
  font-family: var(--font-style);
  font-size: 20px;
}

.account_ready > p {
  text-align: center;
  font-family: var(--font-style);
  font-size: 16px;
}

.account_lower {
  display: flex;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px auto;
  max-width: 90%;
  text-align: center;
  background-color: var(--background-color)
}

.account_lower > h2 {
  font-family: var(--font-style);
  font-size: 20px;
}

.account_lower > p {
  font-family: var(--font-style);
  font-size: 16px;
}

.account_lowerApp {
  flex: 0.33;
  text-align: center;
  padding: 20px 5rem;
}

.account_lowerMembership {
  flex: 0.34;
  text-align: center;
  padding: 20px 5rem;
}

.account_lowerCST {
  flex: 0.33;
  text-align: center;
  padding: 20px 5rem;
}

.account_account {
  text-align: center;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px auto 0px;
  max-width: 90%;
  font-family: var(--font-style);
  font-size: 14px;
}
