.login {
  min-width: 300px;
  /* position: fixed; */
}

.login_signout {
  display: flex;
  flex-direction: column;
}

.login_signout > h2 {
  margin: 20px 0px 10px;
}

.login_signout > img {
  width: 150px;
  display: block;
  margin: 0px auto;
  border-radius: 50%;
}

.login_signout > h3 {
  margin-top: 5px;
}
