.aboutCommunity {
  max-width: 1000px;
  margin-left: 192px;
  text-align: center;
}

.aboutCommunity > h2 {
  margin: 20px;
  padding: 20px;
  background-color: var(--circlek-light);
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.aboutCommunity > p {
  margin: 20px;
  padding: 20px;
  background-color: var(--circlek-light);
  border-radius: 3px;
  text-align: center;
  font-weight: 450;
  font-size: 16px;
}

.aboutCommunity_family {
  display: flex;
}

.aboutCommunity_familyLeft {
  flex: 0.5;
  margin-left: 15px;
}

.aboutCommunity_familyRight {
  flex: 0.5;
  margin-right: 15px;
}
