.calendarCogs_months {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: var(--font-style);
  font-size: 16px;
}

.calendarCogs_monthIcon {
  background-color: var(--circlek-color);
  border-radius: 5px;
  margin: 10px;
}

.calendarCogs_monthIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.calendarCogs_calendar {
  table-layout: fixed;
  width: 100%;
}

.calendarCogs_days {
  font-family: var(--font-style);
  font-size: 20px;
  text-wrap: nowrap;
  overflow: hidden;
}

tr {
  height: 120px;
}

th {
  border-radius: 5px;
  background-color: var(--light-accent-color);
}

@media only screen and (min-width: 1024px) {
  .calendarCogs_months {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: var(--font-style);
    font-size: 16px;
  }

  .calendarCogs_monthIcon {
    background-color: var(--circlek-color);
    border-radius: 5px;
    margin: 10px;
  }

  .calendarCogs_monthIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .calendarCogs_calendar {
    margin: 5px auto;
  }

  .calendarCogs_days {
    font-family: var(--font-style);
    font-size: 20px;
  }

  tr {
    height: 120px;
  }

  th {
    border-radius: 5px;
    width: 200px;
    background-color: var(--light-accent-color);
  }
}
