body {
  --circlek-color: #50b7f5;
  --circlek-background: #282828;
  --circlek-light: #e8f5fe;
  --circlek-background-dark: #1c1c1c;
}

.app {
  background-color: var(--circlek-background-dark);
  display: flex;
  justify-content: space-between;
}
