body {
  --font-style: 'EB Garamond', serif;
  --leadership-color: #FF715B;
  --service-color: #00B2CA;
  --background-color: #fffcf9;
  --fellowship-color: #48BF84;
  --accent-color: #4C5454;
  --light-accent-color: #DDE1E4;
  --circlek-color: #256EFF;
  --dark-color: #191516;
}
