.footer {
  display: flex;
  justify-content: center;
}

img.footer_image {

}

.footer_text {
    display: inline-block;
    margin: auto;
    text-align: center;
}

img.footer_image.footer_image_left {
    width: 100px;
}

.footer_socialMedia > a > .MuiSvgIcon-root {
  color: black;
  width: 35px;
}

.footer_socialMedia > a > .MuiSvgIcon-root:hover {
  color: var(--circlek-color);
  cursor: pointer;
}

.footer_copyRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_copyRight > .MuiSvgIcon-root {
  color: black;
  width: 20px;
}

.footer_copyRight > p {
  color: black;
  font-size: 14px;
}

.footer_image {
  max-width: 150px;
  margin: auto;
}
