.home_masthead {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.home_upper {
  display: flex;
  background-color: #eee;
  border-radius: 5px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.home_propagandaBubble {
  flex: 0.4;
  margin: 30px;
  border-right: 1px solid black;
}

.home_propagandaBubble h2 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 24px;
}

.home_propagandaBubble p {
  width: 450px;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 18px;
}

.home_propagandaVideo {
  flex: 0.6;
  max-width: 550px;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.home_mid {
  margin-top: 10px;
  display: flex;
  background-color: #eee;
  border-radius: 5px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.home_tenents {
  flex: 0.5;
}

.home_tenents h2 {
  font-family: 'Tenor Sans', sans-serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}

.home_tenents h3 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 20px;
}

.home_tenents h4 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

.home_fb {
  flex: 0.5;
}

.home_lower {
  margin-top: 10px;
  background-color: #eee;
  border-radius: 5px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  text-align: center;
}

.home_lower h2 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 24px;
  margin-top: 10px;
}

.home_family {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.home_lower h3 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 20px;
}
