.navbar {
  background-color: #194761;
  justify-content: center;
  height: 150px;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  background-image: url("./images/stripebar.png");
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat; 
}

.navbar_inner {
  position: relative;
  top: 11px;
  margin-left: 40px;
  margin-right: 40px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.navbar_title {
  display: flex;
}

.navbar_lower {
  display: flex;
}