.navbarUpper {
  display: flex;
  text-align: center;
}

.navbarTitle {
  margin: 15px;
  padding: 5px;
  color: black;
  font-family: 'Tenor Sans', sans-serif;
}

.navbarTitle:hover {
  text-wrap: none;
  background-color: #84de83;
  border-radius: 5px;
  flex: 20;
}

.navbarBefore {
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 40px;
  flex: 20;
}

.navbarAfter {
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 40px;
  flex: 20;
}

.navbarLower {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px 10%;
  margin: 0px 10%;
  background-color: #eee;
  border-radius: 5px;
}
