.navbarOption {
  margin: 30px;
}
  
.navbarOption:hover {
  /*border: 1px solid var(--background-color);*/
  background-color: var(--background-color);
  border-radius: 25px;
}

.navbarOption:hover > h1 {
  color: black;
}
  
.navbarOption > h1 {
  padding: 10px;
  font-size: 22px;
  text-align: center;
  font-family: var(--font-form);
  color: var(--background-color);
}
