/*where sidebar is centered */

.sidebar>img {
    height: 290px;
    width: 290px;
    border-radius: 50%;
    /*rounds radius*/
    margin: 30px auto;
    display: flex;
    /*expands items to fill available free space or shrinks them to prevent overflow*/
}

.sidebar>h1 {
    font-family: var(--font-form);
    font-size: 22px;
    text-align: center;
    color: var(--background-color);
}

.numbers {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.service {
    font-family: var(--oswaldo);
    font-weight: bold;
}

.fellowship {
    font-family: var(--oswaldo);
    font-weight: bold;
}

.leadership {
    font-family: var(--oswaldo);
}

.service>h2 {
    color: var(--service-color);
    font-weight: 900;
}

.fellowship>h2 {
    color: var(--fellowship-color);
}

.leadership>h2 {
    color: var(--leadership-color);
}

.sidebar {
    background-color: rgba(25, 71, 97, 0.5);
    border-radius: 30px;
    padding: 30px;
}

/*sidebar font blueish */

.bigsLil {
    display: flex;
}

.bigsLil>h4 {
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    flex: 0.5;
    text-align: center;
    color: #FFFFFF;
    text-decoration: underline;
}

.bigsLil>h5 {
    flex: 0.5;
    font-family: Oswald;
    font-weight: bolder;
    font-size: 24px;
    line-height: 36x;
    text-align: center;
    color: #FFFFFF;
}

/*End of bigs and littles*/

.nameOne {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.nameOne>img {
    border-radius: 50%;
    width: 122px;
    height: 122px;
}

.nameEmail>h1 {
    margin-top: 20px;
    font-family: var(--font-form);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.nameEmail>h2 {
    font-family: var(--font-form);
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

/*1) name and email end*/

.nameTwo {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.nameTwo>img {
    border-radius: 50%;
    width: 122px;
    height: 122px;
}

.nameEmailTwo>h1 {
    font-family: var(--font-form);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.nameEmailTwo>h2 {
    font-family: var(--font-form);
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

/*2) name and email end*/

.nameThree {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.nameThree>img {
    border-radius: 50%;
    width: 122px;
    height: 122px;
}

.nameEmailThree>h1 {
    margin-top: 20px;
    font-family: var(--font-form);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.nameEmailThree>h2 {
    font-family: var(--font-form);
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

/*3) name and email end*/

.extra {
    background-color: rgba(25, 71, 97, 0.5);
    border-radius: 30px;
    padding: 30px;
    margin-top: 30px;
}

.extra>img {
    height: 641px;
    width: 472px;
    margin: 30px auto;
    display: flex;
}

.extra>h1 {
    font-family: var(--font-form);
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
}

/*EXTRA end*/

.twoSidebar {
    flex: 0.25;
}

.secondBar {
    flex: 0.9;
    margin-left: 100px;
}

.flowers {
    border-radius: 50px;
    width: 100%;
    height: 371px;
    object-fit: cover;
}

.welcome>h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500px;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 0.02em;
    font-family: var(--oswaldo);
    color: #194761;
}

.bio>h1 {
    font-family: var(--font-form);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 30px;
}

.memberBio {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: var(--oswaldo);
    font-weight: 500px;
    font-size: 18px;
    line-height: 53px;
    letter-spacing: 0.02em;
    color: #194761;
}

.memberOne {
    display: flex;
    background: var(--background-color);
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.enclosedOne>img {
    border-radius: 50%;
    width: 205px;
    height: 205px;
    padding: 30px;
}

.enclosedOne>h1 {
    font-family: var(--font-form);
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 30px;
}

.description>h2 {
    padding: 30px;
    background: var(--background-color);
    border-radius: 10px;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

/* MEMBER 1 END*/

.memberTwo {
    display: flex;
    background: var(--background-color);
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.enclosedTwo>img {
    border-radius: 50%;
    width: 205px;
    height: 205px;
    padding: 30px;
}

.enclosedTwo>h1 {
    font-family: var(--font-form);
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 30px;
}

.descriptionTwo>h2 {
    padding: 30px;
    background: var(--background-color);
    border-radius: 10px;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

/*MEMBER 2 END*/

.memberThree {
    display: flex;
    background: var(--background-color);
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.enclosedThree>img {
    border-radius: 50%;
    width: 205px;
    height: 205px;
    padding: 30px;
}

.enclosedThree>h1 {
    font-family: var(--font-form);
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 30px;
}

.descriptionThree>h2 {
    padding: 30px;
    background: var(--background-color);
    border-radius: 10px;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

/*MEMBER 3 END*/

.memberFour {
    display: flex;
    background: var(--background-color);
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.enclosedFour>img {
    border-radius: 50%;
    width: 205px;
    height: 205px;
    padding: 30px;
}

.enclosedFour>h1 {
    font-family: var(--font-form);
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 30px;
}

.descriptionFour>h2 {
    padding: 30px;
    background: var(--background-color);
    border-radius: 10px;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

/*MEMBER 4 END*/

.memberFive {
    display: flex;
    background: var(--background-color);
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.enclosedFive>img {
    border-radius: 50%;
    width: 205px;
    height: 205px;
    padding: 30px;
}

.enclosedFive>h1 {
    font-family: var(--font-form);
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 30px;
}

.descriptionFive>h2 {
    padding: 30px;
    background: var(--background-color);
    border-radius: 10px;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.finalFooter {
    margin: 200px auto 0;
    max-width: 95%;
    display: flex;
    /*background-image: url("https://images-na.ssl-images-amazon.com/images/I/71-aB8lueZL.jpg");*/
}

/*
background-color:rgba(25, 71, 97, 0.5)

.backFlowers{
    position: absolute;
    opacity: 50%;
    top: 0; 
    right: 200px;
    width: 100%;
    height: 100%;
    z-index: -10;
    transform: scale(4);
    
}

        <div className="backFlowers">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71-aB8lueZL.jpg"></img>
        </div>
*/