.calendar {
  margin: 110px auto 0;
  width: 95%;
}

.calendar_profile {
  margin: 50px 0;
}

@media only screen and (min-width: 1024px) {
  .calendar {
    margin-top: 175px;
    max-width: 1500px;
    width: 95%;
  }

  .calendar_profile {
    margin: 50px 0;
  }
}
