.calendar_categories {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.calendar_categories > h1 {
  padding: 10px 20px;
  font-family: var(--font-style);
  font-size: 22px;
  border-radius: 20px;
  margin: 0px 10px;
}

.calendar_categoriesService {
  background-color: #fa6150;
}

.calendar_categoriesSocial {
  background-color: #40dbe3;
}

.calendar_categoriesCommittee {
  background-color: #71b2e3;
}

.calendar_categoriesKiwanis {
  background-color: #b071eb;
}

.calendar_categoriesFundraising {
  background-color: #8eeb86;
}

.calendar_categroiesDivision {
  background-color: #535bed;
}
