.login_signout {
  flex: 0.5;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--light-accent-color);
  font-family: var(--font-style);
  text-align: center;
}

.login_entry > h1 {
  font-family: var(--font-style);
  font-size: 26px;
  text-align: center;
  background-color: var(--light-accent-color);
  padding: 5px 0px;
  border-radius: 5px;
}

.login_singout > img {
  max-width: 150px;
}

.login_signout > button {
  border: none;
  margin: 10px 20px 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--circlek-color);
  font-family: var(--font-style);
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .login {
    min-width: 300px;
  }

  .login_total {
    display: flex;
  }

  .login_signout {
    flex: 0.5;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--light-accent-color);
    font-family: var(--font-style);
    text-align: center;
  }

  .login_singout > img {
    max-width: 150px;
  }

  .login_signout > button {
    border: none;
    margin: 10px 20px 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--circlek-color);
    font-family: var(--font-style);
    font-size: 20px;
  }

  .login_signout > button:hover {
    font-weight: 600;
    cursor: pointer;
  }

  .login_entry {
    margin: 20px;
    flex: 0.5;
  }

  .login_entry > h1 {
    font-family: var(--font-style);
    font-size: 26px;
    text-align: center;
    background-color: var(--light-accent-color);
    padding: 5px 0px;
    border-radius: 5px;
  }
}
