.login {
  min-width: 300px;
  flex: 0.5;
}

.login_signout {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--background-color);
  font-family: var(--font-style);
  text-align: center;
}

.login_singout > img {
  max-width: 150px;
}

.login_signout > button {
  border: none;
  margin: 10px 20px 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--circlek-color);
  font-family: var(--font-style);
  font-size: 20px;
}

.login_signout > button:hover {
  font-weight: 600;
  cursor: pointer;
}

.login_entry {
  margin: 20px;
}
