.body {
  background-color: white;
  display: flex;
  padding-bottom: 5px;
}

img {
  border-radius: 50%;
  padding-bottom: 10px;
}

.leftcolumn {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 10px;
  margin-left: 15px;
  margin-top: 15px;
  
}

.rightcolumn {
  margin-top: 10px;
  margin-right: 15px;
}

.row {
  display: flex;
}

p {
  font-size: 12px;
  padding-bottom: 10px;
  text-align: left;
}

#id {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-family: var(--font-form);
  font-size: 12px;
  text-align: left;
  color:gray;
}

input {
  background-color: #e6f6f7;
  font-family: var(--font-form);
  font-weight: 600;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom-color: #c1e1e3;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
}

#update_button {
    background-color: var(--lighter-circlek-color);
    font-family: var(--font-form);
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0 0;
    height: 20px;
    border-radius: 20px;
}

#update_button:hover {
  background-color: var(--light-circlek-color);
  cursor: pointer;
  color: white;
}
