.committees {
  margin: 20px;
  padding: 20px;
  background-color: var(--circlek-light);
  width: 860px;
  border-radius: 10px;
  display: flex;
}

.committees_logo {
  position: absolute;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.committees_info {
  margin-left: 200px;
}
