.impactTeams {
  margin: 20px;
  padding: 20px;
  background-color: var(--circlek-light);
  width: 860px;
  border-radius: 10px;
  display: flex;
}

.impactTeams_logo {
  position: absolute;
  clip:rect(0px,200px,180px,0px);
}

.impactTeams_info {
  margin-left: 200px;
}
